@import "styles.css";


th {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid;
}

.container-table {
    filter: drop-shadow(0px 1px 25px rgba(0, 0, 0, 0.15));
    margin: 0px 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: fixed;
}

tbody {
    font-weight: 500;
}

td {
    padding: 10px 25px;
    font-weight: 500;
}

th:nth-child(7) {
    text-align: center;
}

td:nth-child(7) {
   text-align:  center;

}

tr:nth-child(even) {
    background-color: lightgrey;
   
}

tr:nth-child(even):hover {
    background-color: rgb(184, 181, 181);
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(odd):hover {
    background-color: rgb(184, 181, 181);
}

@media screen and (max-width: 1919px) {
    .container-table {
        width: 93%;
        margin: 0px 50px;
    }
}






